<div class="about">
    <div class="txt-center headline">
        <h1>about</h1>
        <p>This App is just to get GIT users names, emails and avatars </p>
    </div>
    <div class="made-with">
       <h2>made with</h2>
        <div class="table-layout full-width">
            <div class="table-row-layout">
                <div class="table-cell-layout">
                    
                    <img src="../images/angular.png" alt="">
                </div>
                <div class="table-cell-layout">
                    
                    <img src="../images/html.png" alt="">
                </div>
                <div class="table-cell-layout middle">
                    
                    <img src="../images/less.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
